# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases & local state
*.db
*.sqlite
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS file
.DS_Store
Thumbs.db
